html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: black;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 800px;
  max-height: 800px;
}

.head-left {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40%;
  height: 800px;
  max-height: 800px;
  position: relative;
  float: left;
}

.head-left ul {
  color: rgb(158, 158, 158);
  list-style: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}

.head-left li a {
  width: 100%;
  padding: 20px;
  display: block;
  text-align: right;
}

.head-left li a:hover {
  color: white;
  font-weight: 900;
}

.head-right {
  width: 60%;
  height: 800px;
  max-height: 800px;
  float: left;
  position: relative;
}

.head-r-inner {
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  position: absolute;
  padding-left: 20px;
}

.head-right p {
  margin: 0;
  color: white;
  font-size: 42px;
  font-weight: bold;
}

.head-right .small-title {
  font-size: 22px;
}

.main .about {
  max-height: 696px;
  overflow: hidden;
}

.main .about-first,
.main .about-last {
  width: 40%;
  height: 696px;
  float: left;
  position: relative;
  padding-top: 80px;
}

.main .about .about-mid {
  float: left;
  width: 20%;
  height: 696px;
}

.main .about-inner {
  max-width: 270px;
  margin-left: auto;
  overflow: hidden;
}

.main .about .photo img {
  width: 270px;
}

.main .about .photo .summary {
  color: white;
  background-color: rgb(59, 59, 59);
  padding: 20px;
  margin: -5px 0 0 0;
  height: 220px;
}

.main .about .photo .summary .title {
  font-size: 12px;
}

.main .about-mid {
  background-color: rgb(100, 100, 100);
  padding: 150px 20px;
  color: white;
}

.main .about-last {
  background-color: rgb(221, 221, 221);
  overflow: scroll;
}

.main .about-last h1 {
  padding-left: 20px;
}

.main .about-last div {
  padding: 10px 80px 10px 40px;
  font-weight: 300;
}

.main .about-last div:hover {
  background-color: white;
}

.main .experience-cover {
  background-image: url(../images/experience.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*background-attachment: fixed;*/
}

.main .experience-cover .title,
.main .contact-cover .title {
  margin: 0;
  padding: 150px 0;
  text-align: center;
}

.main .experience {
  background-color: rgb(59, 59, 59);
  position: relative;
  width: 100%;
  height: 1300px;
}

.main .experience-bkgcl {
  background-color: white;
  width: 50%;
  height: 1300px;
}

.main .experience-card {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translate(-65%, 0);
}

.main .experience-photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 650px;
  height: 500px;
  position: relative;
  margin: 100px 0 0 0;
}

.main .experience .card-arcoa {
  background-image: url("../images/arcoa.jpg");
}

.main .experience .card-college {
  background-image: url("../images/college.jpg");
}

.main .experience-photo div {
  background-color: rgba(255, 255, 255, 0.8);
  width: 400px;
  height: 400px;
  margin: 50px -200px 0 0;
  right: 0;
  position: absolute;
  padding: 0 20px 20px;
}

.main .experience-photo .keyWord {
  font-weight: 300;
}

.main .experience-photo .content {
  line-height: 2;
}

.main .contact-cover {
  background-image: url(../images/contact.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main .contact-cover .title .content {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 0;
}

.main .contact-cover .content .contact-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 15%;
}

.main .contact-cover .content .contact-list li {
  float: left;
  list-style: none;
  min-width: 33%;
  margin: 20px 0;
}

.main .contact-cover .content .contact-list i {
  font-size: 48px;
  color: rgb(73, 72, 72);
  line-height: 1.2;
}

.main .contact-cover .content .contact-list p {
	margin: 0;
  }