/*
圖片來源
http://www.fubiz.net/en/2018/09/24/an-exhibition-in-london-celebrates-the-skate-culture/
*/
html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	background:rgb(255, 255, 255);
	font-family:  'LiHei Pro', Helvetica, Arial, sans-serif;
	font-size:14px;
	color: #000000;
}

body, ul, li, div {
	margin: 0;
	padding: 0;
}

img {
	border:0;
}

a {
    color: #23241f;
    text-decoration:none;  /* 隱藏底線 */
}

a:hover {
	cursor: pointer;
}

.container:after {
	content: '';
	display:block;
	clear: both;
}

.container {
	width: 100%;
}

/*
code {
	display: block;
	padding: 10px 0 10px 10px;
	margin-bottom: 50px;
	background-color: #000000;
	color: #FFFFFF;
}
*/


/* ------ header ------ */
.header {
	width: 100%;
	position: relative;
	z-index: 100;
	top: 0;
	left: 0;
}

.header-inner {
	background-color: #23241f;
	font-size: 25px;
}

.header .title{
	font-weight: 800;
	padding: 10px;
	float: left;
}

.header .title a{
	color: #f92672;
}

.header .title .small {
	border-left: #f92672 solid 6px;
	padding-left: 10px;
	margin-left: 10px;
	font-weight: normal;
}

#header-menu {
	float: right;
	/*overflow: hidden;*/
	font-size: 20px;
}

#header-menu li {
	list-style: none;
}

#header-menu > ul > li{
	position: relative;
	float: left;
}

#header-menu > ul > li > a  {
	display: block;
	text-align: center;
	padding: 13px;
	line-height: 25px;
}

ul.subs {
	position: absolute;
	top: 100%;
	right: 0%;
	width: 102px;
	background-color: #23241f;
	visibility: hidden;
	
}

ul.subs li a {
	display: block;
	font-size: 16px;
	padding: 11px;
}

#header-menu a{
	color: #f92672;
}

#header-menu a:hover{
	cursor: pointer;
	background-color: #23241f;
	color: #66d9ef;
}



/* ------ footer ------ */
.footer{
	background-color: #23241f;
}
.footer .Introduction {
	float: right;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

.footer a {
	padding: 15px;
	display: block;
	color: #f92672;
}

.footer a:hover {
	color: #66d9ef;
	background-color: #23241f;
}



/* ------ main ---- */
.main .container {
	padding: 80px 0 120px;
	width: 95%;
	margin: 0 auto;
}

.main .content{
	width: 90%;
	margin: 40px auto 0;
}

code {
	white-space: pre-line;
	margin-bottom: 50px;
}

.print {
	background-color: #23241f;
	color: #f8f8f2;
	padding: 10px;
	white-space: pre-line;
	margin-top: -40px;
	margin-bottom: 50px;
	border-radius: 10px 10px 10px 10px;
}




#goTop {
	position: fixed;
	right: 0;
	bottom: 15%;
	visibility: hidden;
}

#goTop a {
	display: block;
	background-color: #bebebea6;
	padding: 10px 5px;
	box-shadow: #b1b1b1 1px 2px 5px;
}




/* ------ RWD ------ */

@media(min-width: 667px){
	
}

@media(max-width: 768px){
	#header-menu > ul.normal-menu{
		display: none;
		/*visibility: hidden;*/
	}
}

@media(min-width: 768px){
	#header-menu > ul.small-menu{
		display: none;
		/*visibility: hidden;*/
	}


	.main .container {
		width: 70%;
	}
}
