/*
圖片來源
http://www.fubiz.net/en/2018/09/24/an-exhibition-in-london-celebrates-the-skate-culture/
*/
html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	background:rgb(255, 255, 255);
	font-family:  'LiHei Pro', Helvetica, Arial, sans-serif;
	font-size:14px;
	color: #000000;
}

body, ul, li, div {
	margin: 0;
	padding: 0;
}

img {
	border:0;
}

a {
    color: #000000;
    text-decoration:none;  /* 隱藏底線 */
}

a:hover {
	cursor: pointer;
}

.container:after {
	content: '';
	display:block;
	clear: both;
}

.container {
	width: 100%;
}

/* ------ header ------ */
.header {
	width: 100%;
	position: relative;
	z-index: 100;
	top: 0;
	left: 0;
}

.header-inner {
	background-color: #ffffff;
	font-size: 25px;
}

.header .title{
	font-weight: 800;
	padding: 10px;
	float: left;
}

.header .title .small {
	border-left: #000000 solid 6px;
	padding-left: 10px;
	margin-left: 10px;
	font-weight: normal;
}

#header-menu {
	float: right;
	/*overflow: hidden;*/
	font-size: 20px;
	
}

#header-menu li {
	list-style: none;
}

#header-menu > ul > li{
	position: relative;
	float: left;
}

#header-menu > ul > li > a  {
	display: block;
	text-align: center;
	padding: 13px;
	line-height: 25px;
}

ul.subs {
	position: absolute;
	top: 100%;
	right: 0%;
	width: 102px;
	background-color: #FFFFFF;
	visibility: hidden;
	
}

ul.subs li a {
	display: block;
	font-size: 16px;
	padding: 11px;
}

#header-menu a:hover{
	cursor: pointer;
	background-color: #000000;
	color: #ffffff;
}



/* ------ bg ------ */
#bg {
	position: fixed;
	z-index: -50;
	top: 0%;
	left: 0;
	width: 100%;
}

.bg {
	top: 0px;
	margin-top: -51px;
	position: relative;
}

.bg img {
	top: 0;
	width: 100%;
	margin-top: -51px;
	visibility: hidden;
}

.bg .title {
	position: absolute;
	z-index: 50;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	margin: 0;
}

.bg .title h1 {
	margin: 0;
	text-shadow: 5px 5px 5px black;
}



/* ------ footer ------ */
.footer{
	background-color: #ffffff;
}
.footer .Introduction {
	float: right;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

.footer a {
	padding: 15px;
	display: block;
}

.footer a:hover {
	color: #ffffff;
	background-color: #000000;
}



/* ------ main ---- */
.main{
	width: 100%;
	background-color: #ffffff;
	position: relative;
}

.main-inner .content{
	padding: 80px 0 120px;
	width: 95%;
	margin: 0 auto;
}

.main-inner .content-box {
	border-bottom: #b1b1b1 solid 0.5px;
	box-shadow: #cccccc 0px 0.3px 0px;
	margin-bottom: 50px;
}
.main-inner .title h3 {
	margin: 0;
	font-size: 20px;
	padding-bottom: 10px;
}

.main-inner .content a{
	display: block;
	padding: 20px;
	border-radius: 10px;
}

.main-inner .content a:hover{
	display: block;
	padding: 20px;
	background-color: #bebebea6;
}



#goTop {
	position: fixed;
	right: 0;
	bottom: 15%;
	visibility: hidden;
}

#goTop a {
	display: block;
	background-color: #bebebea6;
	padding: 10px 5px;
	box-shadow: #b1b1b1 1px 2px 5px;
}




/* ------ RWD ------ */

@media(min-width: 667px){
	
}

@media(max-width: 768px){
	#header-menu > ul.normal-menu{
		display: none;
		/*visibility: hidden;*/
	}
}

@media(min-width: 768px){
	#header-menu > ul.small-menu{
		display: none;
		/*visibility: hidden;*/
	}

	
	/* ------ bg ------ */
	.bg .title h1 {
		font-size: 40px;
	}

	.main-inner .content{
		width: 70%;
	}

	.main-inner .title h3 {
		font-size: 25px;
	}
}



@media(min-width: 1080px){
	/* ------ bg ------ */
	#bg {
		top: -100px;
	}

	.bg {
		margin-top: -151px;
	}

	.bg img {
		margin-top: -151px;
	}
}