/*
顏色配置
https://www.design-seeds.com/seasons/winter/color-route/
#1E2833
#2A4054
#5E7A92
#A1B3C4
#CBD5E0
#E5E7EE
*/
html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	background:#1E2833;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:14px;
	color: #5E7A92;
}

body, ul, li, div {
	margin: 0;
	padding: 0;
}

img {
	border:0;
}

a {
    color: #5E7A92;
    text-decoration:none;  /* 隱藏底線 */
}

.container:after {
	content: '';
	display:block;
	clear: both;
}



/* ------- header ------- */
.header {
	width: 100%;
	background-color: #2A4054;
}

.header-inner {
	margin: 0 auto;
}

#logo {
    font-size: 28px;
    font-weight: 800;
    float: left;
	color: #E5E7EE;
	padding: 10px 0px;
}

#header-menu {
	float: right;
	overflow: hidden;
}

#header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header-menu li {
	float: left;
	margin: 1px 0 0 1px;
}

#header-menu a {
	display: block;
	text-align: center;
	padding: 19px 20px;
	background-color: #5E7A92;
	color: #E5E7EE;
}

#header-menu a:hover{
	cursor: pointer;
	color: #1E2833;
	background-color: #A1B3C4;
}



/* ------- main ------- */
.main {
	margin: 80px 5px 120px;
}

.clearfix:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}

.imgLeft, .imgRight {
	margin-bottom: 30px;
}

.imgRight .content {
	float:right;	
	width:50%;
	height: 230px;
	overflow: hidden;
	padding: 10px;
}


img {
	max-width: 100%;
    height: auto;
    display: block;
}

.spec {
	width:50%;
	height: 250px;
	
}

.spec h1 {
	color: #CBD5E0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	letter-spacing: 3px;
}

.spec h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #1E2833; 
	background-color: #CBD5E0;
	padding: 10px;
	margin: 0px;
}

.spec p {
	line-height: 0.5;
}

.spec-inner {
	position: relative;
	top:60px;
}



.AboutMe {
	margin-top: 40px;
}

.AboutMe h3 {
	color: #CBD5E0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	letter-spacing: 3px;
	border-bottom: solid;
	margin-bottom: 0px;
}



.skill {
	margin-top: 60px;
	width: 100%;
}

.skill h3{
	color: #CBD5E0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	letter-spacing: 3px;
	border-bottom: solid;
	margin-bottom: 0px;
}

.skill .Front_End,
.skill .Back_End {
	border: solid;
	padding-bottom: 10px;
	height: 180px;
	margin: 14px 0 0 0;
}

.skill h4 {
	font-size: 18px;
	margin: 0px 0px 10px 0px;
	color: #1E2833; 
	background-color: #5E7A92;
	padding: 10px;
}

.skill ul {
	padding: 0px 32px 0px;
	line-height: 1.5;
}



.experience {
	margin-top: 60px;
}

.experience h3{
	color: #CBD5E0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	letter-spacing: 3px;
	border-bottom: solid;
	margin-bottom: 0px;
}

.experience .content {
	border: solid;
	margin-top: 14px;
}

.experience .title {
	font-size: 18px;
	margin: 0px 0px 10px 0px;
	color: #1E2833; 
	background-color: #5E7A92;
	padding: 10px;
}

.experience .work {
	padding: 0px 10px 10px;
}

.experience .keyWord {
	color: #CBD5E0;
}



/* RWD */

@media (min-width: 480px) {

	.imgRight .content {
		width:40%;
		height: 280px;
	}

	img{
		position: relative;
		top: 50%;
		transform: translate(0%, -50%);
	}

	.spec {
		width:60%;
		height: 280px;
		
	}	

	.spec-inner {
		margin-top: 40px;
	}
}



@media (min-width: 600px) {

	.imgRight .content {
		width:35%;
		height: 280px;
		padding: 20px;
	}

	img{
		position: relative;
		top: 50%;
		transform: translate(0%, -50%);
	}

	.spec {
		width:65%;
		height: 280px;
	}	

	.spec-inner {
		margin-top: 50px;
	}

	.skill .col-50{
		float: left;
		width: 50%;
	}

	.skill .Front_End {
		margin: 14px 10px 0px 0px;
	}

	.skill .Back_End {
		margin: 14px 0px 0px 10px;
	}
}



@media (min-width: 768px) {
	
	.header-inner {
		width: 750px;
		height: 60px;
		margin: 0 auto;
	}

	.main .container {
		width: 750px;
		margin: 80px auto 60px;
	}

	.imgRight .content {
		width: 30%;
		height: 280px;
		padding: 20px;
	}

	.spec {
		width: 70%;
	}

	.spec-inner {
		margin-top: 30px;
	}
	

	.skill {
		width: 750px;
		height: 246px;
	}

	.skill .col-50{
		float: left;
		width: 50%;
	}

	.skill .Front_End {
		margin: 14px 10px 0px 0px;
	}

	.skill .Back_End {
		margin: 14px 0px 0px 10px;
	}
	
	.experience {
		width: 750px;
	}
}