/*
顏色配置
https://www.design-seeds.com/studio-hues/collage/color-craft-2/
#EBFFFA
#B8FFE6
#65CDC7
#2D82BC
#1E3B88
#3D512D
*/
html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	background:rgb(255, 255, 255);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:14px;
	color: #000000;
}

body, ul, li, div {
	margin: 0;
	padding: 0;
}

img {
	border:0;
}

a {
    color: #30353A;
    text-decoration:none;  /* 隱藏底線 */
}

a:hover {
	cursor: pointer;
}

.container {
	width:100%;
	margin: 0 auto 0;
}

.container:after {
	content: '';
	display:block;
	clear: both;
}



/* ------ header ------ */
.header-inner {
	font-size: 25px;
}

.header .title{
	font-weight: 800;
	padding: 10px;
	float: left;
}

.header .title .small {
	border-left: #000000 solid 6px;
	padding-left: 10px;
	margin-left: 10px;
	font-weight: normal;
}



/* ------ footer ------ */
.footer .Introduction {
	float: right;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

.footer a {
	padding: 15px;
	display: block;
}

.footer a:hover {
	color: #ffffff;
	background-color: #000000;
}



/* ------ main ------ */
.main {
	margin: 150px 0 200px;
}

.main .container{
	width: 90%;
}

.main-inner .box {
	width: 100%;
	float: left;
	height: 250px;
	position: relative;
	overflow: hidden;
	padding: 20px 10px 0; 

}

.main-inner .box .python {
	max-width: 100%;
	height: 250px;
	background-color: #75C3F8;
}

.main-inner .box .C_sharp {
	max-width: 100%;
	height: 250px;
	background-color: #3F6ABF;
}

.main-inner .box .SQL {
	max-width: 100%;
	height: 250px;
	background-color: #2B4071;
}

.main-inner .box p {
	color: #ffffff;
	font-size: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 10px 0 0 0;
}

.main-inner .box a div:hover {
	/*background-color: #000000;*/
	opacity: 0.7;
}



/* ----- RWD ------*/
@media(min-width: 667px){
	/* ------ main ------ */
	.main .container{
		width: 95%;
	}
	
	.main-inner .box {
		width: 50%;
	}
	
	

}


@media(min-width: 960px){
	.container {
		width: 90%;
	}
	
	
	
	/* ------ main ------ */
	.main .container{
		width: 70%;
	}
	
	.main-inner .box {
		width: 33.33333%;
		height: 200px;
	}
	
	.main-inner .box .python {
		height: 200px;
	}
	
	.main-inner .box .C_sharp {
		height: 200px;
	}
	
	.main-inner .box .SQL {
		height: 200px;
	}

}

@media(min-width: 1280px){
	.container {
		width: 90%;
	}
	
	
	
	/* ------ main ------ */
	.main .container{
		width: 70%;
	}
	
	.main-inner .box {
		width: 33.33333%;
		height: 280px;
	}
	
	.main-inner .box .python {
		height: 280px;
	}
	
	.main-inner .box .C_sharp {
		height: 280px;
	}
	
	.main-inner .box .SQL {
		height: 280px;
	}

}